.top-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.top-navigation.scrolled {
    box-shadow: 11px -8px 30px -5px;
}

.nav-inner {
    position: relative;
    height: 70px;
    top: 20px;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    z-index: 120;
    background: white;
}

.scrolled .nav-inner {
    -ms-transform: translate(0, -20px);
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px);
    /*border-bottom: 1px solid #009688;*/
}

.top-navigation .top-navigation__list {
    text-align: right;
}

.top-navigation .top-navigation__logo {
    position: relative;
    top: 25px;
    left: 25px;
    float: left;
}

.top-navigation .top-navigation__list .top-navigation__list-item {
    display: inline-block;
    margin: 0 3%;
    padding-top: 25px;
    position: relative;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: color .2s, background .2s;
    transition: color .2s, background .2s;
    font-family: "Helvetica Neue", "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.top-navigation__list-item-link {
    padding-bottom: 10px;
    position: relative;
}

.top-navigation__list-item.active {
    border-bottom: 2px solid #009688;
}

.top-navigation__list-item-link:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    margin: 0 auto;
    width: 17px;
    height: 2px;
    background: #009688;
    opacity: 0;
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px);
    -webkit-transition: transform .2s, opacity .2s;
    transition: transform .2s, opacity .2s;
}

.top-navigation__list-item-link:hover:after, .top-navigation__list-item-link--active:after {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.top-navigation__logo img {
    width: 75px;
    position: relative;
    top: -10px;
}