body {
    margin: 0;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    overflow-x: hidden;
}

h1 {
    font-size: 28px;
}
h1.margined {
    margin-bottom: 25px;
}
a {
    color: black;
    text-decoration: none;
}
.p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.page {
    margin-top: 55px;
}

.center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.section--white {
    padding-bottom: 30px;
}
.fleft {
    float: left;
}
.ct {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.fx-100 {
    width: 100%;
}
.fx-83 {
    width: 83.33%;
}
.fx-66 {
    width: 66.66%;
}
.fx-50 {
    width: 50%;
}
.fx-33 {
    width: 33.33%;
}
.fx-16 {
    width: 16.66%;
}
.fx-8 {
    width: 8.33%;
}
.fxo-8 {
    margin-left: 8.88%;
}
.fxo-16 {
    margin-left: 16.66%;
}

.btn-red {
    display: inline-block;
    padding: 15px 25px;
    background: #eb150a;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #eb150a;
}
.btn-red:hover {
    background: #e02f2f;
}

.btn-blue {
    display: inline-block;
    padding: 15px 25px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #009688;
    background-color: #009688;
}
.btn-blue:hover {
    transition: .2s;
    background-color: #005a51;
}