body {
    margin: 0;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
h1 {
    font-size: 34px;
}
h2 {
    font-size: 28px;
}
h1.margined {
    margin-bottom: 25px;
}
a {
    color: black;
    text-decoration: none;
}
.p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.page {
    margin-top: 55px;
}

.center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.section--white {
    padding-bottom: 30px;
}
.fleft {
    float: left;
}
.ct {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.fx-100, .fx-83, .fx-66, .fx-50, .fx-33, .fx-16, .fx-8, .fx-41, .fx-58 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}
.fx-100 {
    width: 100%;
}
.fx-83 {
    width: 83.3333%;
}
.fx-66 {
    width: 66.6666%;
}
.fx-58 {
    width: 58.33333333%;
}
.fx-50 {
    width: 50%;
}
.fx-41 {
    width: 41.66666667%;
}
.fx-33 {
    width: 33.3333%;
}
.fx-16 {
    width: 16.6666%;
}
.fx-8 {
    width: 8.3333%;
}
.fxo-8 {
    margin-left: 8.8888%;
}
.fxo-16 {
    margin-left: 16.6666%;
}

.btn-red {
    display: inline-block;
    padding: 15px 25px;
    background: #eb150a;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #eb150a;
}
.btn-red:hover {
    background: #e02f2f;
}

.btn-blue {
    display: inline-block;
    padding: 15px 25px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #009688;
    background-color: #009688;
}
.btn-blue--small {
    padding: 10px 20px;
}
.btn-blue:hover, .btn-blue:active, .btn-blue:focus, .btn-blue:visited {
    transition: .2s;
    background-color: #005a51;
    cursor: pointer;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.main-link {
    color: #009688;
    text-decoration: none;
}
.main-link:hover {
    cursor: pointer;
    text-decoration: underline;
}
.heading-space {
    margin: 35px 0;
}