.page-homepage__image {
    width: 60%;
    height: auto;
}
.page-homepage__section--gray {
    background: #253B57;
    margin-top: 40px;
    color: white;
    height: 500px;
}
.page-homepage__claim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 500px;
}
.page-homepage__img-wrap {
    height: 500px;
    display: flex;
    align-items: center;
}
.page-homepage__claim p {
    font-size: 22px;
    margin: 15px 0;
    width: 45%;
    line-height: 1.3;
}