.page-homepage__image {
    width: 60%;
    height: auto;
}
.page-homepage__section--gray {
    background: #253B57;
    /*margin-top: 40px;*/
    color: white;
}
.page-homepage__claim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 500px;
}
.page-homepage__img-wrap {
    height: 500px;
    display: flex;
    align-items: center;
}
.page-homepage__claim p {
    font-size: 22px;
    margin: 15px 0;
    width: 45%;
    line-height: 1.3;
}
.page-homepage__ui-sec {
    /*background: #FF0000;*/
    background: #D2382D;
    width: 100%;
}
.page-homepage__ui-sec-video {
    line-height: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.page-homepage__ui-sec-video video {
    width: 100%;
    height: auto;
}
.page-homepage__ui-sec-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 700;
}
.page-homepage__red-sec {
    height: 420px;
}
.page-homepage__ui-sec-wrapper-outer {
    height: 100%;
}
.page-homepage__ui-sec__teas {
    font-weight: bold;
    font-size: 32px;
    color: white;
    letter-spacing: -.04em;
}
.page-homepage__ui-sec__sub-teas {
    color: white;
    font-size: 24px;
    letter-spacing: -.02em;
}

@media screen and (max-width: 1199px) {
    .page-homepage__red-sec {
        height: 340px;
    }
}
@media screen and (max-width: 991px) {
    .page-homepage__ui-sec-video {
        width: 33%;
    }
}
@media screen and (max-width: 767px) {
    .page-homepage__claim p {
        width: 90%;
    }
    .page-homepage__claim__wrapper {
        width: 50%;
    }
    .page-homepage__claim__wrapper__img-wrapper-outer {
        width: 50%;
    }
    .page-homepage__red-sec {
        height: auto;
    }
    .page-homepage__ui-sec-video {
        width: 100%;
        text-align: center;
    }
    .page-homepage__ui-sec-video video {
        width: 280px;
    }
    .page-homepage__ui-sec-wrapper-outer {
        width: 100%;
        text-align: center;
    }
    .page-homepage__ui-sec-wrapper {
        display: block;
        text-align: left;
        margin: 50px;
    }
}

@media screen and (max-width: 550px) {
    .page-homepage__claim p {
        width: 100%;
    }
    .page-homepage__claim__wrapper {
        width: 100%;
        text-align: center;
    }
    .page-homepage__claim__wrapper__img-wrapper-outer {
        width: 100%;
        text-align: center;
    }
    .page-homepage__claim__br {
        display: none;
        min-height: 300px;
    }
    .page-homepage__image {
        margin: 0 auto;
        width: 50%;
    }
    .page-homepage__img-wrap {
        height: auto;
        margin-bottom: 30px;
    }
    .page-homepage__ui-sec-wrapper {
        margin: 25px;
    }
}
@media screen and (max-width: 400px) {
    .page-homepage__ui-sec-wrapper {
        margin: 20px 10px 30px;
    }
}