.page-review__post-section {
    width: 80%;
    margin: 0 auto;
}
.page-review__user {
    font-weight: bolder;
    color: #009688;
}
.page-review__post__text {
    font-size: 1em;
    line-height: 1.3;
    margin: 8px 0;
}
.page-review__post-reply {
    color: #009688;
    font-weight: 500;
}
.page-review__post-reply:hover {
    cursor: pointer;
}
.page-review__post {
    margin: 15px 0;
    box-shadow: 0 0 11px -7px;
    padding: 12px;
}

@media screen and (max-width: 991px) {
    .page-review__post-section {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .page-review__post-section {
        width: 95%;
        margin: 0 auto;
    }
}