.top-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: white;
}

.nav-inner {
    position: relative;
    height: 70px;
    top: 20px;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    z-index: 120;
    background: white;
}

.nav-inner:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200%;
    background: #fff;
    opacity: 0;
    -webkit-transform: translate(0,20px);
    transform: translate(0,20px);
    -webkit-transition: opacity .35s cubic-bezier(0,0,0,1.15),-webkit-transform .35s cubic-bezier(0,0,0,1.15);
    transition: opacity .35s cubic-bezier(0,0,0,1.15),transform .35s cubic-bezier(0,0,0,1.15);
    z-index: 5;
}π

.scrolled .nav-inner:before {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
.scrolled .nav-inner:after {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    opacity: 1;
}

.top-navigation:not(.opened) .nav-inner:after {
    background: 0 0;
    box-shadow: 0 0 17px rgba(0,0,0,.165), 0 0 0 1px #f6f6f6;
    z-index: 7;
}

.scrolled .nav-inner {
    -ms-transform: translate(0, -20px);
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px);
}

.top-navigation .top-navigation__list {
    text-align: right;
}
.top-navigation__list-wrapper {
    z-index: 100;
}
.top-navigation.opened .top-navigation__list-wrapper {
    width: 100%;
    margin-top: 20px;
}
.top-navigation.opened .top-navigation__logo-wrapper {
    width: 100%;
}
.nav-inner__ct {
    z-index: 15;
}

.top-navigation .top-navigation__logo {
    position: relative;
    top: 25px;
    left: 25px;
    float: left;
}
@media screen and (min-width: 768px) {
    .top-navigation.scrolled {
        box-shadow: 11px -8px 30px -5px;
    }
}

.top-navigation.opened .top-navigation .top-navigation__logo-wrapper {
    display: none;
}
.top-navigation__logo-wrapper {
    z-index: 100;
}

.top-navigation .top-navigation__list .top-navigation__list-item {
    display: inline-block;
    margin: 0 3%;
    padding-top: 25px;
    position: relative;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: color .2s, background .2s;
    transition: color .2s, background .2s;
    font-family: "Helvetica Neue", "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.top-navigation.opened .top-navigation__list-item {
    margin-left: 0;
    margin-right: 0;

}

.top-navigation__list-item-link {
    padding-bottom: 10px;
    position: relative;
}

.top-navigation__list-item.active {
    border-bottom: 2px solid #009688;
}
.top-navigation__list-item-link:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    margin: 0 auto;
    width: 17px;
    height: 2px;
    background: #009688;
    opacity: 0;
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px);
    -webkit-transition: transform .2s, opacity .2s;
    transition: transform .2s, opacity .2s;
}

.top-navigation__list-item-link:hover:after, .top-navigation__list-item-link--active:after {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.top-navigation__logo img {
    width: 75px;
    position: relative;
    top: -10px;
}

@media screen and (max-width: 700px) {
    .top-navigation:not(.opened) .top-navigation__list-wrapper {
        display: none;
    }
}

.top-navigation.opened {
    transition: all .2s ease-in-out;
    background-color: #fff;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    overflow-y: scroll;
}

.top-navigation.opened nav {
    display: block;
    width: 100%;
    float: none;
    margin-top: 55px;
}

.top-navigation.opened ul {
    padding: 0;
    text-align: center;
    display: block;
}

.top-navigation.opened li {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    font-size: 14px;
    padding-top: 30px;
}

.menu-opened .hamburger {
    position: absolute;
    top: 14px;
    right: 15px;
    height: 30px;
    z-index: 150;
}

.hamburger-inner {
    height: 4px;
    right: 0;
    background-color: #151e28;
    border-radius: 0;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease;
    display: block;
    top: 50%;
    margin-top: -2px;
    width: 19px;
}

@media screen and (min-width: 701px) {
    .top-navigation:not(.opened) .hamburger {
        display: none;
    }
}

.hamburger-inner::before {
    content: "";
    display: block;
    height: 4px;
    right: 0;
    top: -10px;
    background-color: #151e28;
    border-radius: 0;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease;
    bottom: -10px;
    width: 10px;
}



.hamburger-inner::after {
    content: "";
    display: block;
    height: 4px;
    right: 0;
    background-color: #151e28;
    border-radius: 0;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease;
    bottom: -10px;
    width: 25px;
}

.hamburger {
    position: absolute;
    padding: 15px;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: .15s;
    transition-timing-function: ease;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    top: 14px;
    right: 11px;
    z-index: 150;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger__title {
    text-transform: uppercase;
    position: relative;
    bottom: 7px;
    left: 10px;
    color: #151e28;
}

.hamburger.active .hamburger-inner::before {
    right: 0;
    top: 0;
    opacity: 0;
    transition: top .1s ease-out, opacity .1s .1s ease-out;
    background-color: #009688;
}

.hamburger.active .hamburger-inner::after {
    right: 0;
    width: 25px;
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom .1s ease-out, transform .3s .1s ease-out;
    background-color: #009688;
}

.hamburger.active .hamburger-inner {
    right: -6px;
    width: 25px;
    transform: rotate(225deg);
    transition-delay: .14s;
    transition-timing-function: ease-out;
    background-color: #009688;
}